.popover {
  background: var(--color-popover);
  border-radius: 2px;
  color: var(--color-on-popover);
  pointer-events: initial !important;
  padding: 14px;
  will-change: transform, opacity;

  &.disablePadding {
    padding: 0;
  }
}
